<div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 15px;margin-bottom: 30px">
  <div fxFlex="80">
    <mat-card>
      <mat-card-content>
        <h2 class="example-h2">Identificacion del cliente</h2>
        <div fxLayout="row" fxLayoutGap="30px">
          <div fxFlex="90%">
            <mat-form-field appearance="outline">
              <mat-label>Identificacion cliente</mat-label>
              <input matInput type="tel" name="idenCliente" [(ngModel)]="docCliente">
            </mat-form-field>
          </div>
          <div fxFlex="10%" style="padding-top: 10px">
            <button mat-mini-fab [disabled]="!docCliente" (click)="getCliente()">
              <mat-icon>search</mat-icon>
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div *ngIf="idCliente">
  <div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 15px;margin-bottom: 30px">
    <div fxFlex="80">
      <mat-card>
        <mat-card-content>
          <h2 class="example-h2">Elegir Servicios</h2>
          <section class="example-section">
            <mat-checkbox *ngFor="let servicio of serviciosObservable | async" [value]="servicio"
              (change)="selectServices($event)" class="example-margin">
              {{servicio.nombre}}
            </mat-checkbox>
          </section>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 15px;margin-bottom: 30px">
    <div fxFlex="95">
      <mat-card>
        <mat-card-content>
          <app-agendar-cita [serviciosSeleccionados]="serviciosAgragados" [idEmpresa]="idEmpresa"
            [eventos]="serviciosAgragados" [idCliente]="idCliente">
          </app-agendar-cita>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>