<div *ngIf="! idEmpresa" fxLayout="row" fxLayoutAlign="center center" style="margin-top: 15px;margin-bottom: 30px">
  <div fxFlex="80">
    <app-lista-empresas [direccionFilter]="'manga'" (idEmpresa)="GetIdEmpresa($event)"></app-lista-empresas>
  </div>
</div>


<div *ngIf="idEmpresa" fxLayout="row" fxLayoutAlign="center center" style="margin-top: 15px;margin-bottom: 30px">
  <div fxFlex="80">
    <mat-card>
      <mat-card-content>
        <h2 class="example-h2">Elegir Servicios</h2>
        <section class="example-section">
          <mat-checkbox *ngFor="let servicio of serviciosObservable | async" [value]="servicio"
            (change)="selectServices($event)" class="example-margin">
            {{servicio.nombre}}
          </mat-checkbox>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div *ngIf="idEmpresa" fxLayout="row" fxLayoutAlign="center center" style="margin-top: 15px;margin-bottom: 30px">
  <div fxFlex="80">
    <app-agendar-cita [idEmpresa]="idEmpresa" [eventos]="serviciosAgragados"></app-agendar-cita>
  </div>
</div>